.title {
  margin-top: 2%;
  font-size: 1.75rem;
  position: relative;
  font-weight: 600;
  @apply text-SoftWhite;
}

.Introductions p{
  margin-top: 2%;
  font-size: 1.5rem;
  position: relative;
  @apply text-SoftWhite;
}

.AboutMe_Screen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myDescription {
  padding-left: 10%;
  font-size: 1.25rem;
  position: relative;
  max-width: 50ch;
  @apply text-SoftWhite;
}