.aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 60%;
  height: 100%;



  @apply p-4 mt-6;
}

.decorativePic1 {
  position: relative;
  height: 90%;
  width: 90%;
  align-self: center;
  margin: auto;
  margin-top: 3%;

  @apply m-2;
}

.imageContainer {
  position: relative;
  height: 33%;
  width: 25%;
  top: 15%;
  left: 2%;
  align-content: center;
  justify-content: center;
}

.smallImageSnippet1 {
    max-width: 14ch;
    position: absolute;
    top: 90%;
    left: 10%;
}