.title {
  margin-top: 2%;
  font-size: 1.75rem;
  position: relative;
  font-weight: 600;
  @apply text-SoftWhite;
}

.Introductions p{
  margin-top: 2%;
  font-size: 1.5rem;
  position: relative;
  @apply text-SoftWhite;
}

.AboutMe_Screen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myDescription {
  padding-left: 10%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-right: 5%; 
  font-size: 1.25rem;
  max-width: 80ch;
  position: relative;
  z-index: -1;
  font-weight: 550;
  line-height: 185%;

  @apply text-SoftWhite;
}

.ImageContainer {
  align-items: center;
  display: flex;
  justify-content: center ;
  width: 50vw;
}

.Desc_Contain {
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  width: 100vw;
  height: fit-content;
  @apply border-solid border-y-4 border-offWhite;
}

.ImageStyling {
  width: 50%;
  height: 100%;
  border-radius: 50%;

  @apply border-solid border-4 border-offWhite;
}

.PhotographyStyle {
  width: 50%;
  border-radius: 10px;
  @apply border-solid border-4 border-offWhite;
}

.PhotographyContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}


.Co_En_Na_Ph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%; 
  
}

.Description2 {
  font-weight: 550;
  line-height: 185%;
  font-size: 1.25rem;
  @apply text-SoftWhite;
}