.experience-card {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
}

.experience-image {
  width: 60%;
  object-fit: cover;
  max-height: 50%;
  border-radius: 5px;
  @apply ml-5 bg-SoftWhite
}

.experience-info {
  padding: 20px;
}

.experience-info p {
  color: #fcfcfc;
}

.experience-info h3 {
  color: #fcfcfc;
}

.experience-date {
  color: #666;
  font-size: 0.9em;
}

.experience-description {
  margin-top: 10px;
}