.navContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 0;
  justify-content: center;
  align-content: center;
  animation: fade-in 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  @apply mt-10;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  
  @apply p-4  flex-row
}

ul li {
  @apply mb-2 mt-2;
}

ul p {
  font-size: 1.75rem;  
  @apply text-SoftWhite;
}

ul li p {
  padding: .25em;
  font-size: 1.75rem;  
  text-decoration: inherit;
  align-items: center;
  font-weight: 700;

  @apply text-SoftWhite m-2;
}

ul li p:hover {
  color: wheat;
  transition: ease-in-out 0.4s;
  
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

