
* {
  box-sizing: border-box;
  z-index: 1;
}

body {
  margin: 0;
}

.navContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;

  @apply mb-1 bg-Gray;
}

ul {
  list-style: none;
  display: flex;
  
  @apply p-4  flex-row
}

ul li {
  @apply mb-2 mt-2;
}

ul li a {
  border-radius: 8px;
  width: 100%;
  padding: .25em;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: inherit;

  @apply text-SoftWhite m-2;
}

ul li a:hover {
  color: wheat;
  transition: ease-in-out 0.2s;

  @apply bg-Gray;
}


