@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  @apply bg-SoftBlack
}

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  @apply bg-LessDarkish
}

Particles {
  position: fixed;
  z-index: -1;
}